/* eprints.less */

// eprints classes and styles
// --------------------------------------------------


body {
    background-color: transparent;
}
.content {
    h1 {
        text-align:left;
        a, a:hover {
            color:#fff;
            background:#255379;
        }
    }
    .content-main {
        h2,h3,h4,h5,h6 {
            color:#255379;
        }
        a,a:visited {
            color:#255379;
        }
        a:hover, a:active, a:visited:hover {
            color:#C55714;
        }
    }
    .content-info {
        a {
            color:#255379;
            &:hover {
                color:#C55714;
            }
        }
    }
    .site-sidebar {
        ul.ep_tm_key_tools {
            li {
                a {
                    color:#255379;
                    &:before{
                        border-left-color:#255379;
                    }
                    &:hover {
                        color:#C55714;
                        &:before {
                            border-left-color:#C55714;
                        }
                    }
                }
                &.current-menu-item, &.current-page-ancestor {
                    color:#C55714;
                    &:hover {
                        color:#C55714;
                        &:before {
                            border-left-color:#C55714;
                        }
                    }
                }
            }
        }
    }
}
