// variables used in all files
//----------------------------------------------

// main text and background
//----------------------------------------------
@textColour:              #5C5B56;
@bgColour:                #fff;

// main tabs under branding block
//----------------------------------------------
@mainNavBgColour:         #353431;
@mainNavTextColour:       #fff;
@mainNavBgActive:         #fff;
@mainNavTextActive:       #000;

// borders on tabs in non-hover state (separator)
//----------------------------------------------
@mainNavSepLeft:          #535250;
@mainNavSepRight:         #000;

// border around search box
//----------------------------------------------
@searchInputBorder:       #ccc;
@searchInputBorderFocus:  #32312E;

// border above footer area
//----------------------------------------------
@footerTopBorder:         #ccc;
@footerLinkSeparator:     #ccc;

//separators for menu items in site sidebar
//----------------------------------------------
@siteSidebarSepTop:       #C1C0BB;
@siteSidebarSepBottom:    #fff;

// separator for posts
//----------------------------------------------
@postSeparator:           #ccc;

// author meta type colour
//----------------------------------------------
@metaFontColor:           #ccc;

// news and events pages
//----------------------------------------------
@neHighlightBg:           #F0EDE8;
@neSeparator:			  #DDD;

// headings in the main header area (left of the UoL logo)
//----------------------------------------------
@mainHeadingsTextColour:  #fff;

// tables
@tableBackground:		  #fff;
@tableBorder:			  #ccc;
@tableHeaderBackground:   #ccc;

// images used as backgrounds
//----------------------------------------------
@html_bg				: '../images/html_bg.png';
@body_bg				: '../images/container_shadow.png';
@logo_bg				: '../images/logo/logo.png';
@corp_sidebar_bg		: '../images/aside_bg.png';

// typography
//----------------------------------------------
@mainHeadingsFontFamily:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@sansFontFamily:          Verdana, Helvetica, Arial, sans-serif;
@serifFontFamily:         Georgia, Cambria, "Times New Roman", Times, serif;
@monoFontFamily:          Menlo, Monaco, Consolas, "Courier New", monospace;
@mainNavFontFamily:       "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
@headingsFontFamily:      @serifFontFamily;
@baseFontFamily:          @sansFontFamily;
@altFontFamily:           @serifFontFamily;

// font size / line height
//----------------------------------------------
@baseFontSize:            12px;
@baseLineHeight:          18px;

// tooltips
//----------------------------------------------
@toolTipText:           #000;
@toolTipBackground:     #fff;
@zindexTooltip:         202;
@toolTipBorder:         #ccc;


